<script src="scripts/list.js"></script>

<div class="container">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
		<input class="form-control" type="text" id="searchBySerial" data-ng-model="filter" placeholder="Filtrar...">
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead class="thead-inverse">
				<tr>
					<th>ID</th>
					<th>Equipo</th>
					<th>Serial</th>
					<th>Propietario</th>
					<th>E-mail</th>
					<th>Teléfono</th>
				</tr>
			</thead>
			<tbody id="mainTableBody">
				<tr data-ng-repeat="equipo in equipos | filter:filter">
					<td>{{ equipo.$id }}</td>
					<td>{{ equipo.gear }}</td>
					<td>{{ equipo.serial }}</td>
					<td>{{ equipo.owner }}</td>
					<td>{{ equipo.email }}</td>
					<td>{{ equipo.phone }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
