<div class="row" data-ng-hide="firebaseUser">
	<h4>Debes iniciar sesión para poder añadir un nuevo equipo.</h4>
</div>
<div class="row" data-ng-show="firebaseUser">
	<form name="addGearForm" data-ng-submit="addGearForm.$valid && addGear(gear, serial, owner, email, phone)" class="form-control">
		<div class="form-group" data-ng-class="{ 'has-danger': addGearForm.gear.$invalid && !addGearForm.gear.$pristine }">
			<label for="gear">Cámara o lente</label>
			<input name="gear" type="text" data-ng-model="gear" class="form-control" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-danger': addGearForm.serial.$invalid && !addGearForm.serial.$pristine }">
			<label for="serial">Número de serie</label>
			<input name="serial" type="text" data-ng-model="serial"data-ng-model="serial"  class="form-control" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-danger': addGearForm.owner.$invalid && !addGearForm.owner.$pristine }">
			<label for="owner">Propietario</label>
			<input name="owner" type="text" data-ng-model="owner" class="form-control" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-danger': addGearForm.email.$invalid && !addGearForm.email.$pristine }">
			<label for="email">E-mail</label>
			<input name="email" type="email" data-ng-model="email" class="form-control" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-danger': addGearForm.phone.$invalid && !addGearForm.phone.$pristine }">
			<label for="phone">Teléfono</label>
			<input name="phone" type="number" data-ng-model="phone" class="form-control" required>
		</div>
		<button type="submit" class="btn btn-primary">Cargar equipo</button>
	</form>
</div>

<!-- Modal para notificación de carga exitosa -->
<div class="modal fade" tabindex="-1" role="dialog" id="loadOK">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Carga exitosa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="gearNameModal">El equipo ha sido cargado correctamente a la base de datos.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>

<script src="scripts/loadgear.js"></script>
